# Ignore virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode and caches
__pycache__/
*.py[cod]

# Model weights and artifacts
*.ckpt
*.h5
*.pt
*.pth
*.onnx

# Logs and outputs
*.log
*.out
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Environment files (if any)
.envrc
*.env

